body{
    background-color: #d7d7d7;
}

.container{
    background-color: beige;
    max-width: 1336px;
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2.1875rem 3.75rem 0 3.75rem;
}

.circulo-naranja{
    background-color: orange;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin: 0 1.25rem 0 0;
    flex-shrink: 0;
}

.rectangulo-azul{
    background-color: blue;
    height: 12.5rem;
    border-radius: .625rem;
    flex-grow: 1;
}

.r-naranja{
    background-color: orange;
    height: 37.5rem;
    border-radius: 9.375rem;
    margin: 6.25rem 3.75rem 0 3.75rem;
  
}

.r-blanco{
    background-color: white;
    height: 25rem;
    margin: 6.25rem 3.75rem 0 3.75rem;
}

.circulorectangulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.75rem 0 3.75rem;
}

.circulo-verde{
    background-color: green;
    border-radius: 50%;
    width: 18.75rem;
    flex-shrink: 0;
    height: 18.75rem;
    margin: 4rem 1rem 0 0;
}

.rectangulo-verde{
    background-color: olivedrab;
    border: 4.375;
    flex-grow: 1;
    height: 300px;
    margin: 4rem 1rem 0 0;
}

.reverso{
    flex-direction: row-reverse;
}

footer{
    background-color: black;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 2.1875rem 3.75rem 0 3.75rem;
}